@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
    var projectNode = Umbraco.TypedContent(1063);
    var fiveNewest = projectNode.Children().Where("projectStatus.Contains(\"9\")").OrderBy("CreateDate desc").Take(5);
}
<ul>
    @foreach (var project in fiveNewest)
    {
        <li>
            <a href="@project.Url">@project.Name</a>
        </li>
    }
</ul>