@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "masterLayout.cshtml";
}

<div class="row">
    <h1 class="col-lg-12 text-center">@Umbraco.Field("siteTitle")</h1>
</div>
<div class="row">
    <div class="col-lg-12 tex text-center">
        @Umbraco.Field("mainContent")
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Umbraco.RenderMacro("listFiveNewestProjects")
    </div>
</div>